In [1]:
import pandas as pd
df = pd.read_csv('output.csv')

In [3]:
df

         Unnamed: 0                                               Text
0                 0  മറ്റുള്ളവരെ കുറിച്ചു ചിന്തിക്കുന്നത്‌ മറ്റൊരു ...
1                 1  ഓസ്ട്രേലിയൻ സർവീസ് ടീമിനെതിരെ ബാറ്റ് ചെയ്ത ബ്ര...
2                 2                                  പുറത്ത്‌ മഞ്ഞുമഴ.
3                 3                         അതിന് ശേഷം ഇലക്ട്രിക് ബസ്.
4                 4  മലയാളം, കന്നഡ, തമിഴ് തുടങ്ങിയ ഭാഷകളിൽ ശ്രദ്ധേയ...
...             ...                                                ...
6050951     6050951                    മദ്യപാനം ശരീരത്തിന് ഹാനികരമാണ്.
6050952     6050952                                അങ്ങേര് നല്ല ഉശിരൻ.
6050953     6050953  നെല്ലും വാഴയും പച്ചക്കറികളും മരച്ചീനിയുമുൾപ്പെ...
6050954     6050954                         എളുപ്പത്തില്‍ അടുക്കാറില്ല
6050955     6050955  സംഭവം കൊലപാതകമാണെന്ന് സംശയിക്കുന്നതായി പൊലീസ് ...

[6050956 rows x 2 columns]

In [4]:
big = 0
for ind, i in enumerate(df['Text']):
    big = max(len(i), big)
    if ind%1e5==0: print(ind)

0
100000
200000
300000
400000
500000
600000
700000
800000
900000
1000000
1100000
1200000
1300000
1400000
1500000
1600000
1700000
1800000
1900000
2000000
2100000
2200000
2300000
2400000
2500000
2600000
2700000
2800000
2900000
3000000
3100000
3200000
3300000
3400000
3500000
3600000
3700000
3800000
3900000
4000000
4100000
4200000
4300000
4400000
4500000
4600000
4700000
4800000
4900000
5000000
5100000
5200000
5300000
5400000
5500000
5600000
5700000
5800000
5900000
6000000

In [5]:
big

106224